.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    postion: sticky;
    background-color: var(--black);
}

.links{
    display: flex;
    justify-content: fex-end;
}