.navbar{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: var(--black);
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}