:root {
 --white: #f3f3f3;
 --black: #000;
 --blue: #3a80e9;
 --grey: #888;
 --darkgrey: #1b1b1b;
 --green: #61c96f;
 --red: #f9414f;
}

body {
   margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  coor: var(--white);


